body{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#0000FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 120px;
    height: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#FF0000;;
    text-align: center;
    padding: 15px 4px 5px 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color:#FF0000;;
}

#glavni{
    width: 900px;
    height: auto;
    margin: 10px auto;
}

#logovanje{
    width: 300px;
    height: auto;
    margin: 10px;
    text-align: right;
}

#rezultati{
    width: 400px;
    height: auto;
    margin: 10px;
    text-align: right;
}

#admin{
    text-align: right;

}

#rezultati_baza{
    width: 700px;
    height: auto;
    margin: 10px auto;
}